spring:
  data:
    mongodb:
      host: localhost
      port: 27017
      database: warehousedb

eureka:
  instance:
    preferIpAddress: true
  client:
    registerWithEureka: true
    fetchRegistry: true
    serviceUrl:
      defaultZone: http://localhost:8083/eureka