spring:
  application:
    name: configserver
  profiles:
    active: native
  cloud:
    config:
      server:
        native:
          searchLocations: classpath:config/productservice, classpath:config/pricingservice, classpath:config/zuulserver

server:
  port: 8081